.form {
    width: 100%;
    margin-top: 8px;
    padding: 50px;
    
}

.paper {
    display: flex;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;
}

.MuiButton-fullWidth {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}
  